<%= form_tag ENV["FEDEX_CROSSBORDER_CHECKOUT_PARTNER_URL"], authenticity_token: false, enforce_utf8: false do %>
    <%= hidden_field_tag 'TOKEN', @fedex_crossborder_token, { :id => nil } %>

  <div class="panel panel-default" id='shipping_method' data-hook>
    <div class="panel-heading">
      <h3 class="panel-title"><%= Spree.t(:delivery) %></h3>
    </div>
    <div class="panel-body" data-hook="shipping_method_inner">
      <div id="methods">

        <div class="shipment">
          <table class="table stock-contents" data-hook="stock-contents">
            <colgroup>
              <col style="width: 10%;" />
              <col style="width: 60%;" />
              <col style="width: 10%;" />
              <col style="width: 20%;" />
            </colgroup>
            <thead>
            <tr class="active">
              <th></th>
              <th align='left'><%= Spree.t(:item) %></th>
              <th><%= Spree.t(:qty) %></th>
              <th><%= Spree.t(:price) %></th>
            </tr>
            </thead>
            <tbody>
            <% @order_items.each do |item| %>
                <tr class="stock-item">
                  <td class="item-image"><%= mini_image(item[:variant]) %></td>
                  <td class="item-name"><%= item[:variant].name %></td>
                  <td class="item-qty"><%= item[:quantity] %></td>
                  <td class="item-price"><%= convert_display_price(item[:display_amount]) %></td>
                </tr>
            <% end %>
            </tbody>
          </table>
        </div>

      </div>
    </div>
  </div>

  <br />

  <div class="well text-right form-buttons" data-hook="buttons">
    <%= submit_tag Spree.t(:save_and_continue), :class => 'btn btn-lg btn-success' %>
  </div>
<% end %>
