<% content_for :page_title do %>
    <%= Spree.t(:new) + ' ' + Spree.t(:vendor_name, scope: :fedex_crossborder) + ' ' + Spree.t(:distribution_center, scope: :fedex_crossborder) %>
<% end %>

<%= render partial: 'spree/admin/shared/error_messages', locals: { target: @fedex_crossborder_distribution_center } %>

<%= form_for( [:admin, @fedex_crossborder_distribution_center] )do |f| %>
    <fieldset data-hook="new_currency">
      <%= render partial: 'form', locals: { f: f } %>
    </fieldset>

    <div class="form-actions">
      <%= render partial: 'spree/admin/shared/new_resource_links' %>
    </div>
<% end %>
